
<section id="about">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-7">
            <h1  style="color:#3A98B9">About <strong>Us</strong></h1><br>
            <h3><strong>Our company specializes in catering services.</strong></h3><br>
            <h4>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, 
                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, 
                consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
             <strong style="color:#3A98B9" > discovered the undoubtable source.</strong> </h4><br>
            <h4>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                 (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.</h4>
            <br>
            <button href="contact" class="btn-o">
              <a href="#contact"  class="blueinw">Get in Touch</a>
            </button>
          </div>
          <div class="col-sm-5">
            <div class="image-container">
            <img src="assets/pic/office.jpg" alt="catering" class="pic">
          </div>
          </div>
        </div>
    </div>

</section>
    
