<section id="prices" class="prices">
    <div id="pricing" class="container-fluid">
        <div class="text-center">
          <h2>Pricing</h2>
          <h4>We serve you - catering is more than food, its an experience!</h4>
        </div>
        <div class="row slideanim">
          <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h1>Corporate Events</h1>
              </div>
              <div class="panel-body">
                <p><strong>4</strong>  drinks</p>
                <p><strong>8</strong> appetizer</p>
                <p><strong>12</strong> main dish</p>
                <p><strong>8</strong> cake</p>
                <p>*in case of allergies please let us know</p>
              </div>
              <div class="panel-footer">
                <h3>$4300 </h3>
                <h4>Up to 800 person</h4>
                <button class="btn btn-lg">Sign Up</button>
              </div>
            </div>      
          </div>     
          <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h1>Birthday</h1>
              </div>
              <div class="panel-body">
                <p><strong>50</strong> cookies</p>
                <p><strong>25</strong> snacks</p>
                <p><strong>10</strong> sandwich</p>
                <p><strong>5</strong> drinks</p>
                <p><strong>Birthday</strong> cake</p>
              </div>
              <div class="panel-footer">
                <h3>$70</h3>
                <h4>up to 50 person</h4>
                <button class="btn btn-lg">Sign Up</button>
              </div>
            </div>      
          </div>       
          <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h1>Wedding</h1>
              </div>
              <div class="panel-body">
                <p><strong>100</strong> Lorem</p>
                <p><strong>50</strong> Ipsum</p>
                <p><strong>25</strong> Dolor</p>
                <p><strong>10</strong> Sit</p>
                <p><strong>Endless</strong> Amet</p>
              </div>
              <div class="panel-footer">
                <h3>$600</h3>
                <h4>per event</h4>
                <button class="btn btn-lg">Sign Up</button>
              </div>
            </div>      
          </div>    
        </div>
      </div>
      
</section>

