<section id="landing" class="landing">
    <div class="container">
      <div class="row">
        <div class="col-md-5 text-center">
          <div class="image-container">
          <img src="assets/pic/logo.png" alt="Profile Picture" class="profile-picture">
        </div>
      </div>
        <div class="col-md-7 text-center">
          <div class="card">
            <div class="jumbotron text-center">
              <h2>WELCOME</h2>
              <p>We are "CutieCatering" - a catering service company.</p>
              <button type="button" class="btn">
                <a href="#about">About Us</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    
